<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/QA Testing/Project/src/test/java/ca/qaguru/oranghrmbatch22/tests/MembershipTest.java"><classes><class name="ca.qaguru.oranghrmbatch22.tests.MembershipTest"><methods><include name="addNewMembership"/><include name="deleteMembership"/><include name="checksMembership"/></methods></class></classes></test></suite>