<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Users/sreej/IdeaProjects/OrangeHRMP_Project/src/test/java/org/google/OrangeHRMTest.java">
        <classes>
            <class name="org.google.OrangeHRMTest">
                <methods>
                    <include name="FinalProject"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>